<html>
<%- include('./partials/header.ejs')  %> 
<body>
    
    <%- include('./partials/nav.ejs')  %> 

    <div class="About content">
        <h2>About us</h2>
        <p>Hello, this is Test a page</p>
    </div>
    <%- include('./partials/footer.ejs')  %> 

</body>
</html>